---
import BaseLayout from "./baseLayout.astro";
import Slider4Bed from "../components/slider4bed.astro";

const { type, maintext } = Astro.props;

var img = [
    "/images/Camera_vasca_idro/bdeddc17-8310-4e40-b568-d65afcd3ff8a.jpg",
];
var title = "Camera ";

switch (type) {
    case "matrimoniale":
        img = [
            "/images/Camera_2/ingresso.jpg",
            "/images/Camera_2/vista1.jpg",
            "/images/Camera_2/bagno.jpg",
            "/images/Camera_2/letto.jpg",
        ];
        title = title + "Idro | LangAmore";
        break;
    case "deluxe":
        img = [
            "/images/Camera_Deluxe/letto.jpg",
            "/images/Camera_Deluxe/bagno.jpg",
            "/images/Camera_Deluxe/entrata.jpg",
        ];
        title = title + "Deluxe | LangAmore";
        break;
    case "idro":
        img = [
            "/images/Camera_vasca_idro/camera.jpg",
            "/images/Camera_vasca_idro/vasca.jpg",
            "/images/Camera_vasca_idro/letto.jpg",
            "/images/Camera_vasca_idro/letto2.jpg",
        ];
        title = title + "Matrimoniale | LangAmore";
        break;
}
---

<BaseLayout title={title}>
    <style>
        .hero-image {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 0.5rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .content-section {
            padding: 2rem;
            background-color: #fff;
            border-radius: 0.5rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .booking-button {
            display: inline-block;
            margin-top: 2rem;
            padding: 0.75rem 1.5rem;
            background-color: #3490dc;
            color: #fff;
            font-weight: 600;
            border-radius: 0.5rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s ease;
        }
        .booking-button:hover {
            background-color: #2779bd;
        }
    </style>

    <main
        class="container mx-auto px-8 py-12 mb-12"
        itemscope
        itemtype="http://schema.org/WebPage"
    >
        <meta itemprop="name" content="Camera {type}" />
        <meta itemprop="description" content="{maintext}" />

        <h1 class="text-4xl font-bold text-center mb-8" itemprop="headline">
            Camera {type}
        </h1>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div>
                <Slider4Bed images={img} itemprop="image" />
            </div>

            <div
                class="content-section"
                itemprop="mainContentOfPage"
                itemscope
                itemtype="http://schema.org/WebPageElement"
            >
                <h2 class="text-3xl font-semibold mb-4" itemprop="headline">
                    Cosa offre?
                </h2>

                <p class="text-lg text-gray-700 mb-4" itemprop="text">
                    {maintext}
                </p>
                <a href="/contact" class="booking-button" itemprop="url">
                    Prenota ora
                </a>
            </div>
        </div>
    </main>
</BaseLayout>
